/basedatos1Erasto/target/
/ApiRest/nbproject/private/
/nbproject/private/
/PhpApiCrud/nbproject/private/
/PhpCrudErasto/nbproject/private/
/AplicacionBancaria/target/
/basedatos1Erasto/basedatos1Erasto/target/
/basedatos1Erasto/L/target/
/basedatos1Erasto/LoginErasto/target/
/LoginErasto/target/
/basedatos1Erasto - copia/target/
/ApiCliente/target/
/ApiRestClientePhp/nbproject/private/
/ApiRestClientePhp/vendor/
/ApiServidorJava/target/