@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

@verde: #04B404;

body{
    text-align: center;
}

.texto-header{
    text-align: left;
    padding: 10px 0 10px 0 ;
    //margin: auto; 
    img{
	width: 200px;
        margin: auto;
    }
}
    
.parrafo-header{
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;
}

.menu{
    
   text-align: center;
}



.cerrar{
    button: 0px;
}

form{
	margin-top: 25px;
}

.formu{
	margin-bottom: 0;
}

.formu label{
	margin-bottom: 0;
}

.formu input{
	height: 30px;
}

.mena{
	padding-bottom: 15px;
}

.mena ul{
	margin-bottom: 0 !important;
}

nav ul li a{
	color:black;
	font-size: 20px;
	width: 100%;
}

.izquierda img{
	width: 100%;
}

.collapsible{
	margin-bottom: 15px;
	width: auto;
}

.collapsible button{
	width: 100%;
}

.derecha img{
	width: 100%;
}

#error1{
    color:red;
}

#error2{
    color:red;
}



@media (min-width: 400px) {
  .table-responsive {
    display: table;
  }
}